[class^="ficon-"],
[class*="ficon-"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ficon-"]:before,
[class*="ficon-"]:before {
    font-family: "glyphs" !important;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

[data-ellipsis="true"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chevron-sprite,
#chevron-container ul.chevron-list li:before,
#chevron-container ul.chevron-list li:after,
#chevron-container ul.chevron-list li:first-child:after,
#chevron-container ul.chevron-list li.active:first-child:after,
#chevron-container ul.chevron-list li:last-child:before,
#chevron-container ul.chevron-list li.active:last-child:before,
#chevron-container ul.chevron-list li.active:before,
#chevron-container ul.chevron-list li.active:after {
    background-image: url("https://assets8.freshservice.com/assets/cdn-ignored/sprites/chevron-s3abed5d1ac-e69ab8ccbf17770dd069b79c7c63885398bf818666bfad4a77b6e71694c233e6.png");
    background-size: 23px auto;
    background-repeat: no-repeat;
}

#chevron-container {
    position: relative;
    border-bottom: 1px solid #dadfe3;
    padding: 10px 20px 10px 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#chevron-container.has-controls .chevron-scroll-wrapper {
    margin: 0 5px;
}

#chevron-container.has-controls ul.chevron-list {
    padding-left: 25px;
}

#chevron-container .chevron-scroll-wrapper {
    height: 40px;
    overflow: hidden;
    transition: margin 0.2s;
}

#chevron-container ul.chevron-list {
    width: 110%;
    padding-left: 0;
    transition: padding 0.2s;
}

#chevron-container ul.chevron-list li {
    position: relative;
    float: left;
    margin-right: -5px;
    line-height: 20px;
}

#chevron-container ul.chevron-list li div {
    max-width: 130px;
    min-width: 90px;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 1px 0 0 #dadfe3;
    background-color: #fff;
    float: left;
    padding: 0 25px 0 20px;
    margin: 0 auto;
}

#chevron-container ul.chevron-list li:before,
#chevron-container ul.chevron-list li:after {
    content: "";
    display: inline-block;
    float: left;
    margin-right: -1px;
}

#chevron-container ul.chevron-list li:before {
    width: 19px;
    height: 41px;
    background-position: 0 -123px;
    margin-right: -1px;
}

#chevron-container ul.chevron-list li:after {
    width: 23px;
    height: 41px;
    background-position: 0 -82px;
    margin-left: -1px;
}

#chevron-container ul.chevron-list li:first-child:before,
#chevron-container ul.chevron-list li:first-child.active:before {
    height: 40px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 0 0 #dadfe3;
    background: #fff;
}

#chevron-container ul.chevron-list li:first-child:after {
    width: 23px;
    height: 41px;
    background-position: 0 -82px;
}

#chevron-container ul.chevron-list li:first-child.active:before {
    background: #25364a;
}

#chevron-container ul.chevron-list li:first-child.active:after {
    width: 23px;
    height: 41px;
    background-position: 0 0;
}

#chevron-container ul.chevron-list li:last-child:before {
    width: 19px;
    height: 41px;
    background-position: 0 -123px;
}

#chevron-container ul.chevron-list li:last-child:after,
#chevron-container ul.chevron-list li:last-child.active:after {
    height: 40px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 1px 0 0 #dadfe3;
    background: #fff;
}

#chevron-container ul.chevron-list li:last-child.active:before {
    width: 19px;
    height: 41px;
    background-position: 0 -41px;
}

#chevron-container ul.chevron-list li:last-child.active:after {
    background: #25364a;
}

#chevron-container ul.chevron-list li.active {
    color: #fff;
}

#chevron-container ul.chevron-list li.active:before {
    width: 19px;
    height: 41px;
    background-position: 0 -41px;
}

#chevron-container ul.chevron-list li.active:after {
    width: 23px;
    height: 41px;
    background-position: 0 0;
}

#chevron-container ul.chevron-list li.active div {
    background-color: #25364a;
}

#chevron-container ul.chevron-list li.active span.ficon-checkmark-round {
    color: #fff;
}

#chevron-container ul.chevron-list li span.ficon-checkmark-round {
    position: absolute;
    top: 8px;
    right: 22px;
    color: #dadfe3;
    font-size: 24px;
}

#chevron-container .chevron-controls {
    display: none;
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    background: linear-gradient(90deg, rgba(235, 238, 240, 0) 0%, #dfe5ea 100%);
    z-index: 1;
    line-height: 20px;
}

#chevron-container .chevron-controls#chevron_control_right {
    right: 0;
}

#chevron-container .chevron-controls#chevron_control_left {
    left: 0;
    transform: rotateY(180deg);
}

#chevron-container .chevron-controls > i {
    display: inline-block;
    color: #fbfbfb;
    font-size: 34px;
    position: relative;
    top: 13px;
    left: 30px;
    transition: color 0.5s;
}

#chevron-container .chevron-controls > i:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #adafb5;
    position: absolute;
    top: 7px;
    left: 6px;
    z-index: -1;
}

#chevron-container .chevron-controls.active {
    cursor: pointer;
}

#chevron-container .chevron-controls.active i {
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

#chevron-container .chevron-controls.active i:after {
    background-color: #24364a;
}

.itil-content-title {
    color: #12344d;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.muted {
    color: #647a8e;
}
